<div class="container">

  <div class="row mt-2">
   <div class="col-md-3 mb-4 text-center">
     <h4 style="background:#EEEEEE">新規会員登録</h4>
   </div>
  </div>


<%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer', local: true do |f| %>
  <%= render "customers/shared/error_messages", resource: resource %>


 <div class="row">
   <!--<div class="field">-->
    <div class="col-md-3 text-left">名前</div>
    <div class="col-md-3 mb-2">　　　<%= f.text_field :name, autofocus: true, autocomplete: "postcode", placeholder: "映画 ムビ子" %></div>
  <!--</div>-->
  </div>

  <div class="row">
      <!--<div class="field">-->
      <div class="col-md-3 text-left">メールアドレス</div>
      <div class="col-md-3 mb-2">　　　<%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "to.movie@example.com" %></div>
      <!--</div>-->
  </div>



  <div class="row">
     <!--<div class="field">-->
   <div class="col-md-3 text-left"><%= f.label :password, "パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>

    <% end %>
   </div>
    <div class="col-md-3 mb-2">　　　<%= f.password_field :password, autocomplete: "new-password" %></div>
    <!--</div>-->
  </div>

  <div class="row">
    <!--<div class="field">-->
    <div class="col-md-3 text-left"><%= f.label :password_confirmation , "パスワード（確認用）"%></div>
    <div class="col-bd-3 mb-2">　　　　<%= f.password_field :password_confirmation, autocomplete: "new-password" %></div>
   <!--</div>-->


  </div>

  <div class="row">
     <!--<div class="actions">-->
    <div class="col-md-3 mb-2">
　　  <%= f.submit "新規登録", class: "btn btn-success btn-sm btn-block" %>
    </div>
     <!--</div>-->
  </div>
<% end %>

 <div class="row mt-2">
   <div class="col-md-3 text-center">
     <h4 style="background:#EEEEEE">既に登録済み方</h4>
   </div>
  </div>
     <p class="ml-5"><%= link_to 'こちら', new_customer_session_path %>　からログインしてください</p>
