<%= search_form_for @q do |f| %>
  <%= f.label :title, "タイトル・キャスト名" %>
  <%= f.search_field :title_or_actor_cont %>

  <%= f.submit "検索" %>
<% end %>

<div class="container">
<h4>作品一覧</h4>


<div class="row">
    <% @movies.each do |movie| %>
    <div class="col-md-3">
      <%= link_to attachment_image_tag(movie, :image, format: 'jpeg', size: "150x200", fallback: "no_image.jpg"), movie_path(movie) %>
      <%= link_to "#{movie.movie_comments.count}コメント", movie_path(movie.id) %>
      <%= link_to movie.title, movie_path(movie) %>
      <%= movie.director %>
      <%= movie.actor %>
    </div>
    <% end %>
    </div>
  </div>


  <!--%= paginate @movies %>-->