

<!-- 検索フォーム -->
<!--%= form_with(url: searches_path, local: true, method: :get, class: "search-form") do |f| %>-->
<!--  %= f.text_field :keyword, placeholder: "作品を検索する", class: "search_input" %>-->
<!--  %= f.submit "検索", class: "search_btn" %>-->
<!--% end %>-->
<!-- 検索フォーム -->



<div id="slider" class="movie-slider">
<% @movies.each do |movie| %>
   <%= link_to attachment_image_tag(movie, :image, format: 'jpeg', size: "240x426", fallback: "no_image.jpg"), movie_movie_comments_path(movie) %>
   <% end %>
</div>



<div class="contents">
<% @movies.each do |movie| %>
<div class="movie_content">
  <p class="movie_title">
<%= link_to attachment_image_tag(movie, :image, format: 'jpeg', size: "150x200", fallback: "no_image.jpg") %>
<%= movie.title %>
<%= movie.director %>
<%= movie.actor %>
</p>
</div>

<%= link_to movie_movie_comments_path(movie), class: "button card-footer-item" do %>
  レビューを見る
  <% end %>
<%= link_to movie_path(movie), class: "button card-footer-item" do %>
  レビューを書く
  <% end %>
<% end %>
</div>
