<!-- 検索フォーム -->
<%= form_with(url: movies_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<!-- 検索フォーム -->



<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <% @movies.each do |movie| %>
          <div class="card mb-6">
            <header class="card-header">
              <p class="card-header-title">
                <%= link_to attachment_image_tag(movie, :image, format: 'jpeg', size: "150x200", fallback: "no_image.jpg") %>
                <%= movie.title %>
                <%= movie.director %>
                <%= movie.actor %>
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                <div class="content average-rate">
                  <div class="star-rating mb-2">
                    <div class="star-rating-front" style="width: <%= movie.movie_comment_rate_percentage %>%">★★★★★</div>
                    <div class="star-rating-back">★★★★★</div>
                  </div>
                  <div class="average-rate-display ml-3 pt-2">
                   <%= movie.avg_rate %>点（<%= movie.movie_comments.count %>件のレビュー）
                  </div>
                </div>
              </div>
            </div>
            <footer class="card-footer">
               <%= link_to movie_movie_comments_path(movie), class: "button card-footer-item" do %>
                レビューを見る
              <% end %>
              <%= link_to movie_path(movie), class: "button card-footer-item" do %>
                レビューを書く
              <% end %>
            </footer>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>