<div class="container p-5">
 <div class="content">
   <div class="row">
    <div class="col-md-3">
 <%= attachment_image_tag(@movie, :image, size: "150×200", fallback: "no_image.jpg") %>
</div>
<div class="col-md-9">
      <div class="text">
       <div class="title">

<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <div class="card mb-6">
          <header class="card-header">
            <p class="card-header-title">
              <%= @movie.title %>
            </p>
          </header>
          <div class="card-content">
            <div class="content average-rate">
              <div class="star-rating mb-2">
                <div class="star-rating-front" style="%"><%= '★' * @movie.movie_comments.average(:rate) %></div>
              </div>
              <div class="average-rate-display ml-3 pt-2">
                <%= @movie.avg_rate %>点（<%= @movie.movie_comments.count %>件のレビュー）
              </div>
            </div>
          </div>
        </div>
        <%= render 'public/movie_comments/form', movie_comment: @movie_comment, movie: @movie %>
      </div>
    </div>
  </div>
</section>
 </div>
  </div>
   </div>
    </div>
     </div>
      </div>


<div class="text-center">
<%= link_to "一覧に戻る", movies_path %>
</div>