<div class="container">

  <div class="row mt-2">
   <div class="col-md-3 mb-4 text-center">
     <h4 style="background:#EEEEEE"></h4>
   </div>
  </div>


<%= form_with model: @admin, url: admin_registration_path, id: 'new_admin', class: 'new_admin', local: true do |f| %>
  <%= render "admins/shared/error_messages", resource: resource %>



  <div class="row">
      <!--<div class="field">-->
      <div class="col-md-3 text-left">メールアドレス</div>
      <div class="col-md-3 mb-2">　　　<%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "管理者登録はできません" %></div>
      <!--</div>-->
  </div>



  <div class="row">
     <!--<div class="field">-->
   <div class="col-md-3 text-left"><%= f.label :password, "パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>

    <% end %>
   </div>
    <div class="col-md-3 mb-2">　　　<%= f.password_field :password, autocomplete: "new-password", placeholder: "管理者登録はできません" %></div>
    <!--</div>-->
  </div>

  <div class="row">
    <!--<div class="field">-->
    <div class="col-md-3 text-left"><%= f.label :password_confirmation , "パスワード（確認用）"%></div>
    <div class="col-bd-3 mb-2">　　　　<%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "管理者登録はできません" %></div>
   <!--</div>-->


  </div>

<% end %>
