
<div class="container">
  <div class="row py-3">
    <h4>ジャンル一覧・追加</h4>
  </div>
  <div class="row">
    <div class="col-8 py-5">
      <%= form_with model: @genre, url: {controller: 'admin/genres', action:'create' }, local:true do |f| %>
      <table>
        <th class="px-4"><%= f.label :name, "ジャンル名" %></th>
        <td class="px-4"><%= f.text_field :name, placeholder: "ジャンル名" %></td>
        <td class="px-4"><%= f.submit "新規登録", class: 'btn btn-success' %></td>
      </table>

      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <table class="table">
        <thead>
          <tr class="table">
            <th class="text-center">ジャンル</th>
            <th></th>
          </tr>
        </thead>


        <tbody>
          <% @genres.each do |genre| %>
          <tr>
            <th><%= genre.name %></th>
            <td><%= link_to '編集する', edit_admin_genre_path(genre.id), class: "btn btn-success" %></td>
            <td><%= link_to '削除する', admin_genre_path(genre.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger" %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>