


<!-- 検索フォーム -->
<%= form_with(url: movies_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<!-- 検索フォーム -->

 <div class="col-3">
      <%= link_to '新規作品登録', new_admin_movie_path, class: 'btn btn-primary'%>
    </div>
</div>


<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <% @movies.each do |movie| %>
          <div class="card mb-6">
            <header class="card-header">
              <p class="card-header-title">
            <%= link_to attachment_image_tag(movie, :image, format: 'jpeg', size: "140x100", fallback: "no_image.jpg"), movie_path(movie) %>
            <%= movie.id %>
            <%= link_to movie.title, admin_movie_path(movie) %>
            <%= movie.director %>
            <%= movie.actor %>
            <%= movie.genre.name %>
              </p>
            </header>

            <footer class="card-footer">
               <%= link_to admin_movie_movie_comments_path(movie), class: "button card-footer-item" do %>
                レビューを見る
              <% end %>

            </footer>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>