<div class="container">
  <div class="row">
   <div class="col-md-8 mx-auto">
     <div class="my-3 ">ログイン</div>
     <h5 class="my-2 ml-3">管理者ログイン</h5>

<%= form_with model: @admin, url: admin_session_path, local: true do |f| %>

 <table class="table table-borderless bl-3">
   <tr>
    <th class="text-right"><%= f.label :メールアドレス %></th>
    <th><%= f.email_field :email, autofocus: true, autocomplete: "email", size: 40 %></th>
   </tr>
   <tr>
     <th class="text-right"><%= f.label :パスワード %></th>
     <th> <%= f.password_field :password, autocomplete: "current-password", size: 40 %></th>
   </tr>
   <tr>
     <th></th>
     <th> <%= f.submit "ログイン", class: "btn btn-primary btn-lg" %></th>
   </tr>
 </table>
<% end %>


   </div>
  </div>
</div>