<div class="container p-5">
 <div class="content">
   <div class="row">
    <div class="col-md-3">
     <%= attachment_image_tag(@movie, :image, format: 'jpeg', size: "150×200", fallback: "no_image.jpg") %>
      <p>
       <%= link_to "※ 引用元", @movie.quote %>
      </p>

 <!-- お気に入り -->
<% if customer_signed_in? %>
   <div id="movie_<%= @movie.id %>" class="favorite-btns_<%= @movie.id %>">
    <%= render 'public/favorites/favorite-btn', movie: @movie %>
   </div>
<% end %>
<!-- お気に入り -->

    </div>
     <div class="col-md-9">
      <div class="text">
       <div class="title">
        <h3>
         <strong><%= @movie.title %></strong>
        </h3>
       </div>
        <p>
         <%= @movie.explain %>
        </p>
          <div class="row">
           <div class="col-md-3">
            <h3>
            <strong>監督名</strong>
            </h3>
            <p><%= @movie.director %></p>
            <h3>
            <strong>キャスト</strong>
            </h3>
            <p><%= @movie.actor %></p>
            <p><%= @movie.actres %></p>
            <%= @movie.cast %>
           </div>
            <div class="col-md-6 mx-5">
              <h3>
              <strong>配信サイト</strong>
             </h3>
              <p>
               <a target="_blank"  href="https://www.amazon.co.jp/gp/offer-listing/B00N28818A/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B00N28818A&linkCode=am2&tag=toto1193-22&linkId=0f144b3543513dee38c15fcb91085a45"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B00N28818A&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL110_&tag=toto1193-22" ></a>
               <a target="_blank"  href="https://www.amazon.co.jp/gp/offer-listing/B01890I97S/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B01890I97S&linkCode=am2&tag=toto1193-22&linkId=284c1ef0507a3fb3a251e10db2c3f9f5"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B01890I97S&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL110_&tag=toto1193-22" ></a>
               <a target="_blank"  href="https://www.amazon.co.jp/gp/product/B005ZXWMUS/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B005ZXWMUS&linkCode=as2&tag=toto1193-22&linkId=6facc06ce1d96a7e5bae4bc44235535f"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B005ZXWMUS&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL110_&tag=toto1193-22" ></a>
               </p>
            </div>
            <div class="col-md-5 offset-mx-3">

            <h3>
              <strong>豆知識!</strong>
             </h3>
              <p><%= @movie.point %></p>
            </div>
          </div>
      </div>
     </div>
   </div>
  </div>
</div>

<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <div class="card mb-6">
          <header class="card-header">
            <p class="card-header-title">
              <%= @movie.title %>
               <% if customer_signed_in? %>
                <%= link_to movie_path(@movie), class: "button card-footer-item" do %>
                 <i class="fas fa-pen"></i>
                <% end %>
                <% elsif admin_signed_in? %>
                 <%= link_to edit_admin_movie_path(@movie), class: "button card-footer-item" do %>
                  <i class="fas fa-edit"></i>
                <% end %>
                <% else %>
                <% end %>
            </p>
          </header>
          <div class="card-content">
            <div class="content average-rate">
              <div class="star-rating mb-2">
                <div class="star-rating-front" style="%"><%= '★' * ( @movie.movie_comments.average(:rate).nil? ? 0:@movie.movie_comments.average(:rate)) %></div>
              </div>
              <div class="average-rate-display ml-3 pt-2">
                <%= @movie.avg_rate %>点（<%= @movie.movie_comments.count %>件のレビュー）
              </div>
            </div>
          </div>
        </div>
        <table class="table is-fullwidth has-text-centered">
          <thead>
            <tr>
              <th>ユーザー</th><th>点数</th><th>内容</th>
            </tr>
          </thead>
          <tbody>
            <% @movie_comments.each do |movie_comment| %>
              <tr>
                <% if customer_signed_in? %>
                  <td><%= link_to movie_comment.customer.name, customer_path(movie_comment.customer) %></td>
                <% elsif admin_signed_in? %>
                  <td><%= link_to movie_comment.customer.name, customer_path(movie_comment.customer) %></td>
                <% else %>
                  <td><%= movie_comment.customer.name %></td>
                <% end %>
                  <td><%= movie_comment.rate %></td>
                  <td><%= movie_comment.comment %></td>
                <% if current_customer == movie_comment.customer %>
                	<td><%= link_to 'Destroy', movie_movie_comment_path(movie_comment.movie_id, movie_comment.id), class: 'btn-sm btn-danger', method: :delete, local: true %></td>
    	          <% elsif admin_signed_in? %>
    	          	<td><%= link_to 'Destroy', movie_movie_comment_path(movie_comment.movie_id, movie_comment.id), class: 'btn-sm btn-danger', method: :delete, local: true %></td>
                <% else %>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<div class="text-center">
 <%= link_to "作品一覧に戻る", movies_path %>
</div>
<div class="text-center">
<!-- Googledesense追加 -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- add -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2353973777635493"
     data-ad-slot="1310492644"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>