<header>

      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
          <a class="navbar-brand " href="/"><%= image_tag 'to.movie.jpg', class: 'icon' %></h1></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarLinks">
            <ul class="navbar-nav ml-auto">

　　　　　　<!-- 会員がログイン時 -->
              <% if customer_signed_in? %>


                <li class="border border-dark rounded" style= "padding:10px; margin:10px;">
                  <%= link_to "作品一覧", movies_path, class: "btn btn-outline" %>
                </li>
               <li class="border border-dark rounded" style="padding:10px; margin:10px;">
                  <%= link_to "About", homes_about_path, class: "btn btn-outline" %>
                </li>
                <li class="border border-dark rounded" style="padding:10px; margin:10px;">
                  <%= link_to "マイページ", customers_path, class: "btn btn-outline" %>
                </li>
                <li class="border border-dark rounded" style="padding:10px; margin:10px;">
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-outline" %>
                </li>

　　　　　　　　<!--管理者がログイン時 -->
              <% elsif admin_signed_in? %>

                <li class="border border-dark rounded text-dark" style= "padding:10px; margin:10px;">
                   <%= link_to "作品一覧", admin_movies_path, class: "btn btn-outline" %>

                </li>
                <li class="border border-dark rounded text-dark" style= "padding:10px; margin:10px;">
                  <%= link_to "会員一覧", admin_customers_path, class: "btn btn-outline" %>
                </li>

               <li class="border border-dark rounded text-dark" style= "padding:10px; margin:10px;">
                <%= link_to "ジャンル一覧", admin_genres_path, class: "btn btn-outline" %>
                </li>

                <li class="border border-dark rounded text-dark" style= "padding:10px; margin:10px;">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline" %>
                </li>

                <!-- 会員・管理者がログアウト時 -->
              <% else %>
                 <li class="border border-dark rounded text-dark" style= "padding:10px; margin:10px;">
                   <%= link_to "About", homes_about_path, class: "btn btn-outline" %>
                </li>
                 <li class="border border-dark rounded text-dark" style= "padding:10px; margin:10px;">
                  <%= link_to "作品一覧", movies_path, class: "btn btn-outline" %>
                </li>
                 <li class="border border-dark rounded text-dark" style= "padding:10px; margin:10px;">
                 <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-outline" %>
                </li>
                 <li class="border border-dark rounded text-dark" style= "padding:10px; margin:10px;">
                 <%= link_to "ログイン", new_customer_session_path, class: "btn btn-outline" %>
                </li>
              <% end %>

            </ul>
          </div>
        </div>
      </nav>
    </header>